<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS dan js -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
               rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
               crossorigin="anonymous">    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" 
            crossorigin="anonymous">                
        </script> 
    </head>
    <body>
       <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/register}" class="nav-link">Register</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/login}" class="nav-link">Login</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/admin/students}" class="nav-link">Daftar Mahasiswa</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/students/add}" class="nav-link">Add Mahasiswa</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}" class="nav-link">Daftar Users</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">FAQs</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">About</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link" aria-current="page">Logout</a></li>
            </ul>
        </header>
      </div> 
        <!-- Content Section -->
        <div layout:fragment="content">
            <p>Body contents</p>
        </div>        
        <!-- Footer -->
        <footer class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">&copy; 2023 Elvina Gamayanti. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- Optional Section -->
        <th:block layout:fragment="optional" />        
  </body>  
</html>
