<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
    <title>CRUD Application - Daftar User</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="text-center">
                <h2>List of Registered Users</h2>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:15%">ID</th>
                        <th style="width:25%">First Name</th>
                        <th style="width:25%">Last Name</th>
                        <th style="width:35%">Email</th>
                    </tr>
                </thead>                    
                <tbody>
                    <tr th:each = "user : ${users}">
                        <td th:text = "${user.id}"></td>
                        <td th:text = "${user.firstName}"></td>
                        <td th:text = "${user.lastName}"></td>
                        <td th:text = "${user.email}"></td>
                    </tr>              
                </tbody>                
            </table>
        </div>            
    </div>
</body>
</html>

